@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

:root {
  /* Primary */
  --cta-text-color: hsl(356, 100%, 66%);
  --cta-hover-background: hsl(355, 100%, 74%);
  --headings-color: hsl(208, 49%, 24%);

  /* Neutral */
  --text-color: hsl(0, 0%, 100%);
  --footer-text-color: hsl(240, 2%, 79%);
  --body-copy-color: hsl(207, 13%, 34%);
  --footer-background-color: hsl(240, 10%, 16%);

  /* Gradient - Intro/CTA mobile nav */
  --intro-gradient-light: hsl(13, 100%, 72%);
  --intro-gradient-dark: hsl(353, 100%, 62%);

  /* Gradient - Body */
  --body-gradient-dark: hsl(237, 17%, 21%);
  --body-gradient-light: hsl(237, 23%, 32%);

  /* Typography */
  --body-font-size: 16px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Overpass";
}

body,
#root {
  color: black;
  min-height: 100vh;
  overflow-x: hidden;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}